body{
    /*background-image: url("heather-shevlin-3B_NrzTjajc-unsplash.jpeg");
    background-color: #F1C8B4;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: (0px);*/
}

.hero{
    box-sizing:border-box;
    height: 100%;
    background-color: black;
    text-align: center;
}

img{
    -webkit-filter: blur(10px);
    width: 100%;
    size: cover;
}